{% extends 'base.html' %}

{% block content %}
<style>
    .errorlist {
        color: red;
        list-style: none;
        padding: 0;
        margin: 0;
    }
</style>

<form action="{% url 'addpage' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% if form.non_field_errors %}
        <div class="errorlist">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {{ form.as_p }}
    <button type="submit">Yaratish</button>
</form>
{% endblock %}
